#function-area {
    float: left;
    width: 34%;
    overflow: auto;
    height: 100%;
}

#canvas-canvas {
    width: 100%;
    height: 100%;
    cursor: grab;
    overflow: hidden;
}

#canvas-area {
    float: right;
    width: 66%;
    height: 100%;
    overflow: hidden;
}

#face-area {
    border-width: 2px;
    border-style: solid;
    color: rgb(182, 182, 182);
    border-radius: 4px;
    height: 36%;
    overflow: auto;
}

#mouth-area {
    border-width: 2px;
    border-style: solid;
    color: rgb(182, 182, 182);
    border-radius: 4px;
    height: 36%;
    overflow: auto;
}

#canvas-btn {
    float: left;
}

#lang-select-area {
    float: right;
}

.lang-select {
    width: 100px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul.select2-results__options li {
    font-size: 13px;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 500px !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    white-space: break-spaces!important;
}

.select2-center-option,
.select2-selection__choice {
    display: flex;
    align-items: center;
    gap: 5px;
}

.select2-center-option img {
    width: 64px;
    max-width: 100%;
    height: auto;
    margin-right: 5px;
}